.app-header {
  text-align: center;
  background-color: #222;
  padding: 20px;
  color: #eee;
}

.header-title {
  font-size: 1.5em;
}

.app-content {
  font-size: large;
  padding: 2em;
}

.app-footer {
  text-align: center;
  background-color: #222;
  color: #eee;
  padding: 10px;
}

.toggle {
  cursor: pointer;
}
.fa-toggle-on {
  color: green;
}

.toggle-off {
  color: rgba(0,0,0,.5);
}
.react-tabs {
  width: 100%;
}
.react-tabs__tab-list, .react-tabs__tab--selected {
  border-color: rgba(0,0,0,.1);
}
.react-tabs__tab-panel {
  margin-top: -10px;
  padding: 20px;
  border-left: 1px solid;
  border-color: rgba(0,0,0,.1);
}