.app-container {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

.app-header {
  background-color: rgb(34, 34, 34);
  padding: 30px;
  color: rgb(238, 238, 238);
  text-align: center;
}

.app-content {
  margin: 0 8rem 2rem 8rem;
}

.agents-available {
  margin: 2rem;
  text-align: center;
}

.agents-available h1 {
  font-size: 1.5rem;
}

.input-group {
  margin: 2rem 0;
  margin-left: auto;
  margin-right: auto;
  width: 25rem;
}

.form-control {
  padding: 0.5rem 0 0.5rem 0.75rem ;
}

.header-title {
  font-size: 1.5rem;
}

.agents-container { 
  display: grid;
  /* grid-template-columns: repeat(3, minmax(12rem, auto)); */
  grid-template-columns: repeat(auto-fit, minmax(10rem, 14rem));
  grid-gap: 3rem;
  grid-auto-rows: minmax(10rem, auto);
  justify-content: center;
}

.agents-container-card {
  border:1px solid rgba(0,0,0,0.125);
  border-radius: 0.25rem;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: minmax(2rem, auto);
  box-shadow: 1px 3px 15px rgba(0,0,0,0.2);
}

.agents-container-card img {
  border-radius: 1rem;
}

.img-container {
  margin: 1rem auto;
}

.card-content {
  margin: 0 auto;
  /* box-shadow: 0px 3px 15px rgba(0,0,0,0.2); */
}

.card-content ul {
  list-style-type: none;
  margin-left: -2rem;
  font-family: 'Lato', sans-serif; 
}

.card-content ul li h5 {
  font-size: 0.95rem;
  text-align: center;
  text-transform: capitalize;
} 

.card-content ul li h5 i {
  font-size: 16px;
} 

.card-content ul li h4 {
   font-size: 0.7rem;
   text-align: center;
   text-transform: capitalize;
   color: rgb(80, 174, 84);
   margin-bottom: 0.2rem;
   margin-top: 0.5rem;
}

.breadcrumb-name {
  text-transform: capitalize;
}
  
.loading {
  text-align: center;
  margin-top: 3rem;
}
  

.card-content-name h5 {
  font-size: 1.1rem !important;
  color: rgb(20, 18, 49);
  font-weight: bold;
}
.card-content-header h5{
  font-weight: bold;
  text-align: center;
}
.card-content-skills {
  /* background-color: black; */
  /* padding: 0.75rem; */
  border-radius: 0.25rem;
  margin: 0 0.75rem -0.25rem 0.25rem;
  text-align: center;
}

.card-content-skills {
  margin-bottom: 0;
}
.card-content-skills button {
  padding: 0.35rem;
  margin: 0.35rem;
}

.card-content-social {
  margin: 0.4rem;
}
.twitter {
  margin: 0;
}
.slack {
  margin-left: -0.8rem;
}
.sms {
  margin-left: 1rem;
  padding-top: 0.07rem;
}
.breadcrumbs {
   width: auto;
}

button {
  border-radius: 0.25rem;
}

button:first-child {
  color: rgb(24, 120, 179);
}

button:nth-child(2) {
  color: red;
}
/* button .a{ 
  background: grey;
}  */

.card-content-skills h5 {
    color: white; 
}
.noFoundAgent {
  text-align: center;
  font-size: 1.5rem;
}

.skills-available span {
  text-transform: capitalize;
  font-weight: bold;
}

.card-skill-link {
  margin-top: 1rem;
  padding: 0.4rem;
  width: 10rem;
  background-color: rgb(41, 44, 52);
}

.card-skill-ul {
  margin-top: 1.25rem;
}

.conversation-container > .header {
  background-color: rgb(39, 212, 111);
}

.widget-container > .launcher {
  display: none;
}
.widget-container > .launcher.hide-sm {
  display: block;
}

.card-content-social {
  margin-left: 3rem;
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px)
and (orientation: portrait) { 
  .input-group {
    width: 20rem;
  }
  .app-content {
    margin: 0 0 2rem 0;
  }
  .agents-container {
    /* grid-template-columns: repeat(auto-fit, minmax(10rem, 20rem)); */
    grid-template-columns: repeat(auto-fit, minmax(9rem, 20rem));
  }
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px)
and (orientation: landscape) { 
  .input-group {
    width: 25rem;
  }
  .app-content {
    margin: 0 0 2rem 0;
  }
}


.widget-container > .launcher {
  display: none;
}
.widget-container > .launcher.hide-sm {
  display: block;
}

