
.loading-page-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
    width: 100vw;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loading-page-wrapper > div {
    
    font-size: 60px;
    color: #fff;
    
    margin: auto;
    z-index: 10;    
}

.loading-page-wrapper > p > i {
    text-shadow: 0 0 3px black;
}

.three-cogs {
    position: relative;
}
.three-cogs .fa:nth-child(1) {
    animation-duration: 4s;
}
.three-cogs .fa:nth-child(2),
.three-cogs .fa:nth-child(3) {
    position: absolute;
    top: -0.2em;
    right: -0.45em;
    animation-direction: reverse;
    animation-duration: 2s;
}
.three-cogs .fa:nth-child(3) {
    top: auto;
    bottom: -0.2em;
}
  